@use "@angular/material" as mat;

$typography: mat.define-typography-config(
  $font-family: "Metropolis" Roboto "Helvetica Neue" sans-serif,
);

@include mat.core($typography);

.text-grey {
  color: var(--grey);
}

.text-grey-1 {
  color: var(--grey-darken-1);
}

.text-grey-2 {
  color: var(--grey-darken-2);
}

.text-white {
  color: var(--white);
}

.text-weave {
  color: var(--weave-lighten-1);
}

.text-tapestry {
  color: var(--tapestry-lighten-1);
}

.heading-md {
  font-size: 30px;
  font-weight: 500;
  line-height: 40px;
  margin: 0;
}

.heading-lg {
  font-size: 60px;
  font-weight: 800;
  line-height: 60px;
}

.text-underline {
  border-bottom: 1px solid var(--grey-darken-2);
}

.heading-xl {
  font-size: 90px;
  font-weight: 800;
  line-height: 90px;
}

.text-md {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  margin: 0;
}

.text-sm {
  font-size: 16px;
  line-height: 20px;
}
