@use "/src/assets/styles/colors.scss" as *;
@use "/src/assets/styles/constants.scss" as *;

.content {
  padding: $page-padding;
  .content-body {
    max-width: 600px;
  }
}

.content-container--loom {
  background: var(--loom-lighten-1);
  color: var(--white);
}

.content-container--tapestry {
  background: var(--tapestry-lighten-1);
  color: var(--white);
}
