@use "/src/assets/styles/colors.scss" as *;
@use "/src/assets/styles/constants.scss" as *;

.content {
  padding: $page-padding;
  .content-body {
    max-width: 600px;
  }
}

.content-container--loom {
  background: var(--loom-lighten-1);
  color: var(--white);
}

.content-container--tapestry {
  background: var(--tapestry-lighten-1);
  color: var(--white);
}

.img-wrapper {
  display: flex;
  align-items: center;
  &.img-wrapper--left {
    justify-content: flex-start;
    img {
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;
    }
  }
  &.img-wrapper--right {
    justify-content: flex-end;
    img {
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
    }
  }
}
