<nav class="main-nav flex flex-row items-center justify-between">
  <div class="flex flex-row">
    <img src="assets/images/logo-dark.svg" />

    <ul class="flex flex-row items-center">
      <li *ngFor="let tab of MainSectionTabs" (click)="scrollTo(tab)">
        {{ tab }}
      </li>
    </ul>
  </div>

  <div class="flex flex-row items-center">
    <ul>
      <li (click)="signIn()">Sign In</li>
    </ul>
    <button
      mat-raised-button
      class="button-rounded button-tapestry button-lg"
      (click)="launchApp()"
      routerLink="/contact"
    >
      Get Started
    </button>
  </div>
</nav>
