@use "/src/assets/styles/colors.scss" as *;

.logo-wrapper,
.logo-wrapper--contrast {
  img {
    border-right: 1px solid var(--border-color-light);
    padding-right: 30px;
    margin-right: 30px;
  }
}

.logo-wrapper--contrast img {
  border-right-color: var(--white);
}

.content-body {
  max-width: 600px;
}
