<div class="flex flex-row content-container">
  <div class="w-3/6 content">
    <div class="content-body ml-auto">
      <div class="text-grey mb-9">
        <h6 class="heading-md m-0">A truly interwoven</h6>
        <h6 class="heading-md m-0">marketing experience.</h6>
      </div>

      <div class="heading-lg text-grey-2 mb-11">
        Marketing. Plain and simple.
      </div>
      <p class="text-md text-grey">
        Built from the ground up to be a Marketing as a Service company, knitly
        consolidates marketing channels into a single, easy to use application
        that learns from and adapts your campaigns to optimize their reach and
        effectiveness.
      </p>
    </div>
  </div>

  <div class="w-3/6"></div>
</div>

<div class="flex flex-row content-container--loom">
  <div class="w-3/6"></div>

  <div class="w-3/6 content">
    <div class="content-body mr-auto">
      <div class="mb-9">
        <h6 class="heading-md m-0">Making marketing simple for you.</h6>
      </div>

      <div
        class="text-5xl font-light mb-11 flex flex-row items-center logo-wrapper"
      >
        <img src="assets/images/logo-white.svg" />
        <div>Loom</div>
      </div>
      <p class="text-md">
        Loom is our proprietary learning algorithm that powers all of the other
        knitly products. Loom learns from your campaigns and then adapts them to
        ensure your advertising and marketing budgets get you the most bang for
        your buck.
      </p>

      <div class="mt-10">
        <button
          mat-stroked-button
          class="button-rounded button-contrast button-lg"
        >
          Learn More
        </button>
      </div>
    </div>
  </div>
</div>

<div class="flex flex-row content-container">
  <div class="w-3/6 content">
    <div class="content-body ml-auto">
      <div class="text-grey mb-9">
        <h6 class="heading-md m-0">Tying it all together.</h6>
      </div>

      <div
        class="text-5xl font-light mb-11 flex flex-row items-center logo-wrapper"
      >
        <img src="assets/images/logo-dark.svg" />
        <div>Weave</div>
      </div>
      <p class="text-md text-grey">
        Weave is our channel consolidation technology that ensures all channels
        you choose to advertise on are tied together to provide your customers
        with a unified brand experience.
      </p>

      <div class="mt-10">
        <button mat-raised-button class="button-rounded button-weave button-lg">
          Learn More
        </button>
      </div>
    </div>
  </div>

  <div class="w-3/6"></div>
</div>
