@use "/src/assets/styles/colors.scss" as *;
@use "/src/assets/styles/constants.scss" as *;

.tapestry-nav {
  width: 100%;
  height: 100px;
  background: var(--tapestry-lighten-1);
  color: var(--white);
  padding: 0 $page-padding;

  img {
    height: 40px;
    width: 112px;
    cursor: pointer;
  }

  .nav-title {
    font-size: 25px;
    font-weight: 300;
    line-height: 25px;
    letter-spacing: 1px;
  }

  .vertical-divider {
    border-color: var(--white);
    margin-left: 15px;
    margin-right: 15px;
    height: 40px;
  }
}
