@use "tailwindcss/base";
@use "tailwindcss/components";
@use "tailwindcss/utilities";

@use "./assets/styles" as *;

html,
body {
  height: 100%;
}
body {
  margin: 0;
  min-width: 1200px;
}

.heading-md {
  font-size: 30px;
  line-height: 40px;
}

.text-md {
  font-size: 20px;
  line-height: 30px;
}
