:root {
  --loom-lighten-2: #f3e1cd;
  --loom-lighten-1: #d9a46a;
  --loom-darken-1: #8a7255;
  --loom-darken-2: #6d5a44;

  --weave-lighten-2: #cbc4d3;
  --weave-lighten-1: #957cb2;
  --weave-darken-1: #574b60;
  --weave-darken-2: #3f334d;

  --tapestry-lighten-2: #cee2df;
  --tapestry-lighten-1: #66b5a7;
  --tapestry-darken-1: #5b7674;
  --tapestry-darken-2: #33474d;

  --grey-darken-2: #393d4b;
  --grey-darken-1: #636874;
  --grey: #7d8491;
  --grey-lighten-1: #acaaa3;
  --grey-lighten-2: #c4c5c0;
  --grey-lighten-3: #e8e7e7;

  --white: #fcfaf7;

  --border-color-light: #c4c5c0;
}
